*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}

@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}

body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}

/* unvisited link */
a:link {
	color: white;
	font-weight: 600;
}

/* visited link */
a:visited {
	color: white;
}

/* mouse over link */
a:hover {
	color: hotpink;
}

/* selected link */
a:active {
	color: rgb(167, 164, 164);
}

ul {
	list-style-type: none;
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
}

.main-button {
	background-color: whitesmoke;
	border-radius: 0.55rem;
	color: white;
	border: none;
	padding: 15px 20px;
	/* font-size: calc(var(--index) * 0.8); */
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.main-button:hover {
	background-color: rgb(182, 181, 181);
}

.transform-element {
	/* transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform; */
}

.gradient__head {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0px;
	background: rgb(2,0,36);
	background: -moz-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(12,12,18,1) 5%, rgba(116,152,92,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(12,12,18,1) 5%, rgba(116,152,92,1) 100%);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(12,12,18,1) 5%, rgba(116,152,92,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#74985c",GradientType=1);
}

.main-header {
	position: relative;
}

.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4);
}

.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}

.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}

.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}

.layers__title {
	font-size: calc(var(--index) * 2.05);
	letter-spacing: calc(var(--index) / 2.25);
}

.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}

.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}

@media screen and (max-device-width: 949px) {
	.longest-110 {
		min-height: 110vh;
		background-position: 0px;
	}
}

.main-article__content {
	overflow: visible;
}

.main-article__content .avatar {
	width: 60%;
	border-radius: 10px;
}

.main-article__content .left {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-article__content .right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
}

.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	margin-left: auto;
	margin-right: auto;
}

.content {
	will-change: transform;
}

.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}

.horizontal {
	display: flex;
}

@media screen and (max-device-width: 949px) {
	.horizontal {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (min-device-width: 950px) {
	.horizontal {
		flex-direction: row;
		justify-content: center;
	}
}

.card__container {
	border-radius: 0.85rem;
	overflow: hidden;
	margin: 20px 10px;
	height: 100%;
}
.card__header {
	width: 100%;
	background-color: hotpink;
	padding: 0 10px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.card__body {
	width: 100%;
	min-height: 16vw;
	padding: 10px 20px;
	background-color: white;
	color: black;
}
.card__footer {
	width: 100%;
	background-color: white;
	padding: 10px 0;
}
.card__body li {
	padding: 8px 0;
}

/* ---- Слайдер ---- */

.slider-container {
	max-width: 90vw;
	margin: 0 auto;
}

.itc-slider__wrapper {
	overflow: hidden;
}

.itc-slider__items {
	counter-reset: slide;
}

.itc-slider .itc-slider__item {
	display: flex;
	align-items: center;
	margin: 30px 0;
}

@media (min-device-width: 0px) and (max-device-width: 768px) {
	/* на маленьких устройствах 1 слайд */
	.itc-slider .itc-slider__item {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 40px;
	}

	.itc-slider .itc-slider__item img {
		max-width: 100%;
	}

	.card__container {
		width: 100%;
	}

	.left__offer-body {
		width: 90%;
		padding: 0 15px;
	}
	.right__offer-body {
		width: 90%;
		padding: 0 15px;
	}
}

/* на средних экранах (ширина больше 768px) 2 слайда */
@media (min-device-width: 768px) and (max-device-width: 1200px) {
	.itc-slider .itc-slider__item {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.itc-slider .itc-slider__item img {
		max-width: 50%;
	}

	.card__container {
		width: 100%;
	}

	.left__offer-body {
		width: 50%;
		padding: 0 10px;
	}
	.right__offer-body {
		width: 50%;
		padding: 0 10px;
	}
}

/* на больших экранах (ширина больше 1200px) 3 слайда */
@media (min-device-width: 1200px) {
	.itc-slider .itc-slider__item {
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}
	.itc-slider .itc-slider__item img {
		max-width: 33.3333333333%;
	}

	.card__container {
		/* width: 33.3333333333%; */
		max-width: 35%;
	}

	.left__offer-body {
		width: 50%;
		padding: 0 20px;
	}
	.right__offer-body {
		width: 50%;
		padding: 0 20px;
	}
}

/* ---- Слайдер ---- */